1) Write a function that takes a two-dimensional list and then returns the mean

In [3]:
def mean_of_items_in_list(list1):
    
    sum1=0
    n=0
    
    for i in list1:
        for j in i:
            sum1 = j+sum1
            n+=1
        
    mean1 = sum1/n
    return mean1

In [6]:
list1 = [[5.2,6,8],[91.4,80,62],[24,45.8,4]]

In [7]:
mean_of_items_in_list(list1)

36.26666666666667

2) Write a function that takes a two-dimensional list and returns the list containing the sum of each row. You can assume that the number of columns in each row is the same.

In [13]:
def sum_of_each_row1(list1):
    
    sum1=0
    new_list = []
    
    for i in list1:
        for j in i:
            sum1 = j+sum1
        new_list.append(sum1)
        sum1=0
    
    return new_list

In [14]:
list2 = [[5,6,8],[9,8,6],[2,4,4]]

In [15]:
sum_of_each_row1(list2)

[19, 23, 10]

3) Write a function that takes a two-dimensional list. The function must return the number of rows in the list that have an even sum and the number of rows that have an odd sum. For example, if the input is:<br>

[[3,8],&emsp; first row = 3 + 8 = 11 &emsp; 11 is an odd number
<br>[2,5]]&emsp; second row = 2 + 5 = 7 &emsp;  7 is an odd number
<br>The output is: [0. 2]

In [64]:
def even_and_odd_rows(list1):
    
    sum1=0
    odd=0
    even=0
    new_list=[]
    
    for i in list1:
        for j in i:
            sum1 = j+sum1
        if sum1%2==0:
            even+=1
        if sum1%2!=0:
            odd+=1
            
    new_list.append(even)
    new_list.append(odd)
        
    print('The number of rows that have an even summation=',new_list[0],'\nThe number of rows that have an odd summation=',new_list[1])
    return (new_list)

In [65]:
list3 = [[7,65,8],[91,8,6],[2,4,47]]

In [66]:
even_and_odd_rows(list3)

The number of rows that have an even summation= 2
The number of rows that have an odd summation= 1

[2, 1]

4) Write a function that takes a two-dimensional list and returns a list containing the maximum value of each column.

In [28]:
def max_value_of_each_column(list1):

    max1=0
    new_list=[]
    
    for i in range(len(list1[0])):
        max1=list1[0][i]
        for j in range(len(list1)):
            if list1[j][i]>max1:
                max1=list1[j][i]
            
        new_list.append(max1)
    
    return new_list

In [73]:
list4 = [[5 ,16 ,-8],
         [-9 ,1 ,-6],
         [2 ,4 ,-23],
         [7 ,7, -2]]

In [74]:
max_value_of_each_column(list4)

[7, 16, -2]

4.1) Write a function that takes a two-dimensional list and returns a list containing the maximum value of each row.

In [31]:
def max_value_of_each_row(list1):

    max1=0
    new_list=[]
    
    for i in list1:
        max1=i[0]
        for j in range(len(i)):
            
            if i[j]>max1:
                max1=i[j]
            
        new_list.append(max1)
    
    return new_list

In [67]:
list4_1 = [[5 ,6 ,-8],
           [9 ,1 ,6],
           [2 ,-4 ,0],
           [-16 ,-7, 1]]

In [68]:
max_value_of_each_row(list4_1)

[6, 9, 2, 1]

5) Write a function that takes two two-dimensional lists (matrices) a and b containing unknown lengths and, if they can be multiplied together, returns their product, otherwise returns "These matrices cannot be multiplied". Note: The two matrices a and b can only be multiplied if the number of columns in the first matrix (a) is equal to the number of rows in the second matrix (b).

In [34]:
def multiply_matrices(list1,list2):
    

    new_list=[]
    new_list3=[]
    sum=0


    if len(list1[0])==len(list2):
        print('The product of given matrices is as follows:')
        print()
        for i in range(len(list1)):
            for k in range(len(list2[0])):
                for j in range(len(list2)):
                    if i==k:
                        sum = list1[i][j]*list2[j][i] + sum
                    
                    if i!=k:
                        sum = list1[i][j]*list2[j][k] + sum
                        
                new_list.append(sum)
                sum=0 
            new_list3.append(new_list)
            new_list=[]
        print(new_list3)
    else:
        print('These matrices cannot be multiplied')

In [35]:
A=[[1,2,3,4,5],
   [4,5,6,7,8],
   [9,1,2,5,4]]
   
B=[[7,8,1],
   [9,10,3],
   [11,12,4],
   [5,8,6],
   [3,2,1]]

In [36]:
multiply_matrices(A,B)

The product of given matrices is as follows:

[[93, 106, 48], [198, 226, 93], [131, 154, 54]]

In [37]:
A1=[[1,2,3,4,5],
   [4,5,6,7,8]]
   
B1=[[7,8,1],
   [9,10,3],
   [11,12,4],
   [5,8,6],
   [3,2,1]]

In [38]:
multiply_matrices(A1,B1)

The product of given matrices is as follows:

[[93, 106, 48], [198, 226, 93]]

In [39]:
A2=[[1,2,3,4],
   [4,5,6,7]]
   
B2=[[7,8,1],
   [9,10,3],
   [11,12,4],
   [5,8,6],
   [3,2,1]]

In [40]:
multiply_matrices(A2,B2)

These matrices cannot be multiplied

6) Write a function that takes a dictionary contains students' name and grades (keys are student names and values are a list of grades for 3 exams (one-dimensional list)) as input and returns a list of student's name who have score higher or equal to 78 in all three tests.

In [83]:
def best_std(B):
    
    A=list(B.keys())
    n=0
    new_list=[]

    for i in A:
        list1=B.get(i)
        for j in list1:
            if j>=78:
                n+=1
        if n==len(list1):
            new_list.append(i)
        n=0
    return new_list

In [84]:
Grades = {'Frank Lampard': [74,65,32],'David Beckham': [80,79,99],'Wayne Rooney': [25,65,90],'Steven Gerrard': [78,78,89]}

In [85]:
best_std(Grades)

['David Beckham', 'Steven Gerrard']

7) Write a function that takes a string as input and returns a dictionary of the number of letters. For example, the keys in this dictionary must be unique letters and the values must be the total number of letters. You should ignore  whitespaces and they should not be counted as one character. Also note that one lowercase character equals uppercase character.

<br>For example if the input is: "Hello World, I am learning python"
<br>The output should be: 
{'h': 2,
 'e': 2,
 'l': 4,
 'o': 3,
 'w': 1,
 'r': 2,
 'd': 1,
 ',': 1,
 'i': 2,
 'a': 2,
 'm': 1,
 'n': 3,
 'g': 1,
 'p': 1,
 'y': 1,
 't': 1}

In [45]:
def num_of_letter(A):
    A = A.lower()
    new_A=''
    counted=[]
    dict1={}
    for i in A:
        if i!=' ':
            new_A=new_A+i
    
    for i in new_A:
        if i not in counted:
            counted.append(i)
            count = A.count(i)
            dict1[i] = count
            
            
    print(dict1)
    #or return dict1

In [46]:
A7="Hello World, I am learning python"

num_of_letter(A7)

{'h': 2, 'e': 2, 'l': 4, 'o': 3, 'w': 1, 'r': 2, 'd': 1, ',': 1, 'i': 2, 'a': 2, 'm': 1, 'n': 3, 'g': 1, 'p': 1, 'y': 1, 't': 1}

8) Write a function that takes a string of words as input and returns a dictionary of word counts. The keys in this dictionary must be unique words and the values must be the total number of words. Assume that the characters are not case sensitive. <br>For example, if the input string is as follows:
"Always have an ambition in life a life without purpose is meaningless"
<br> the output should be:
{'always': 1,
 'have': 1,
 'a': 2,
 'ambition': 1,
 'in': 1,
 'life': 2,
 'without': 1,
 'purpose': 1,
 'is': 1,
 'meaningless': 1}

In [86]:
def num_of_words(A):
    new_A = A.lower()
    new_A = new_A.split()
    counted=[]
    dict1={}
    for i in new_A:
        if i not in counted:
            counted.append(i)
            count = new_A.count(i)
            dict1[i] = count
            
            
    print(dict1)
    #or return dict1

In [87]:
A8="Always have an ambition in life a life without purpose is meaningless"

num_of_words(A8)

{'always': 1, 'have': 1, 'an': 1, 'ambition': 1, 'in': 1, 'life': 2, 'a': 1, 'without': 1, 'purpose': 1, 'is': 1, 'meaningless': 1}

9) Write a function that takes an integer as input and returns words using those numbers. For example, if the integer is 5823, then this function must return the string "five eight two three". Note that there should be only one space between words and all letters in the string you return should be lowercase.

In [49]:
def num_to_letter1(A):
    dict1={'0': 'zero','1':'one','2':'two','3':'three','4':'four','5':'five','6':'six','7':'seven','8':'eight',
           '9':'nine','10':'ten'}
    A=str(A)
    B=''
    for i in A:
        if B!='':
            B = B+' '+dict1.get(i)
        else:
            B = B+dict1.get(i)
        
    return B

In [51]:
A9 = 5878660
num_to_letter1(A9)

'five eight seven eight six six zero'

10) Write a function that takes a 4-digit integer (between 1000 and 9999) as an input  and returns the words using the integer, as shown below:
<br> if the input integer is 5230 then the function should return the string "five thousand two hundred thirty"

In [55]:
def num_to_letter2(A):
    dict2={'0': 'zero','1':'one','2':'two','3':'three','4':'four','5':'five','6':'six','7':'seven','8':'eight','9':'nine','10':'ten',
       '11':'eleven','12':'twelve','13':'thirteen','14':'fourteen','15':'fifteen','16':'sixteen','17':'seventeen','18': 'eighteen',
       '19':'nineteen','20':'twenty','40':'fourty','30':'thirty','50':'fifty','60':'sixty','70':'seventy','80':'eighty','90':'ninety'}
    
    
    A=str(A)
    B=''
    n=0
    
        
    if len(A)==4:
        B = B+dict2.get(A[0])+' '+'thousand'
        A = int(A)-(int(A[0])*1000)
        A=str(A)
        
           
    if len(A)==3:
        if B!='':
            B = B+' '+dict2.get(A[0])+' '+'hundred'
            A = int(A)-(int(A[0])*100)
            A=str(A)   
        else:
            B = B+dict2.get(A[0])+' '+'hundred'
            A = int(A)-(int(A[0])*100)
            A=str(A)
        
    if len(A)==2:
        if B!='':
            B = B +' '+ dict2.get(A[0]+'0')
            A = int(A)-(int(A[0])*10)
            A=str(A) 
        else:
            B = B + dict2.get(A[0]+'0')
            A = int(A)-(int(A[0])*10)
            A=str(A) 
               
    if len(A)==1:
        if A=='0' and B=='':
            B = B+dict2.get(A)
            
        if A!='0':
            if B!='':
                B = B+' '+dict2.get(A)
            else:
                B = B+dict2.get(A)
      
    
    return B

In [57]:
A10 = 8563
num_to_letter2(A10)

'eight thousand five hundred sixty three'

In [88]:
A10_1 = 8060
num_to_letter2(A10_1)

'eight thousand sixty'

In [59]:
A10_2 = 856
num_to_letter2(A10_2)

'eight hundred fifty six'

In [62]:
A10_3 = 85
num_to_letter2(A10_3)

'eighty five'

In [63]:
A10_4 = 0
num_to_letter2(A10_4)

'zero'